#navheader {
    color:#F03838;
    font-size: 3rem;
    font-family: "Open Sans", arial, sans-serif;
}
.header-link {
    color:#F03838;
    font-size: 2rem;
    font-family: "Open Sans", arial, sans-serif;
}
.header-link:hover {
    color: #0FA0CE;
}

.body-link {
    color:#F03838;
    font-family: "Open Sans", arial, sans-serif;
}

.body-link:hover {
    color: #0FA0CE;
}

html, img, section, #col-sm, .container, body, p {
    background: #424242;
    font-family: "Open Sans", arial, sans-serif;
    
}
h1, h2, h3, h4, h5, h6 {
    color:#F03838;
}
p {
    color: #FEFEFE;
}
img {
    width: 500px;
    height: 500px;
}