#navheader {
    color: #F03838;
    font-size: 3rem;
    font-family: "Open Sans", arial, sans-serif;
}

.header-link {
    color: #F03838;
    font-size: 2rem;
    font-family: "Open Sans", arial, sans-serif;
}

.header-link:hover {
    color: #0FA0CE;
}

.body-link {
    color: #F03838;
    font-family: "Open Sans", arial, sans-serif;
}

.body-link:hover {
    color: #0FA0CE;
}

html, img, section, #col-sm, .container, body, p {
    background: #424242;
    font-family: "Open Sans", arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #F03838;
}

p {
    color: #FEFEFE;
}

img {
    width: 500px;
    height: 500px;
}

.hline {
    width: 100%;
    height: 1px;
    background: #F03838;
}

.body-title {
    font-size: 2rem;
}

.code {
    background: #686565;
    border: 1px solid #ddd;
    border-left: 3px solid #F03838;
    color: #FEFEFE;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.code_hidden {
    background: #686565;
    border: 1px solid #ddd;
    border-left: 3px solid #F03838;
    color: #686565;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.code_hidden:hover {
    color: #FEFEFE;
}

.highlight {
    background: #686565;
    border: 1px solid #ddd;
    padding: 0px 3px;
    color: rgb(231, 78, 78);
    border-radius: 2px;
}